*.arb text
*.c text
*.cc text
*.cmake text
*.cpp text
*.css text
*.dart text
*.gradle text
*.h text
*.hpp text
*.html text
*.ini text
*.java text
*.js text
*.json text
*.kt text
*.kts text
*.lock text
*.manifest text
*.md text
*.pbxproj text
*.plist text
*.ps1 text
*.py text
*.rc text
*.sh text
*.swift text
*.toml text
*.ts text
*.xml text
*.yaml text
*.yml text
